*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    background-color:  hsl(204, 43%, 93%);
}

.container{
    max-width: 85%;
    margin: 2em auto;
    border-radius:5px;
    overflow: hidden;
    box-shadow: 1px 1px rgb(223, 218, 218);
}

.primary{
    background-color: white;
    padding: 2em 1.5em;
}

.primary h2{
    color:  hsl(179, 62%, 43%);
    font-size: .950rem;
    margin-bottom: 1.2em;
}

.primary h3{
    color:hsl(71, 73%, 54%) ;
    font-size: .8rem;
    margin-bottom: 1.2em;
}


.primary p{
    color:  hsl(218, 22%, 67%);
    line-height: 1.8;
    font-size: .725rem;
}

.sec-one{
    background-color: hsl(179, 62%, 43%);
    padding: 2em 1.5em;
}

.sec-one h3{
    color:  hsl(204, 43%, 93%);
    font-size: .8rem;
    margin-bottom: 1.2em;
}

section{
    display: flex;
    align-items: center;
    margin-bottom: .5em;
}

section > span:first-child{
    font-size: 1.5rem;
    color: hsl(204, 43%, 93%);
    font-weight: 700;
}

section > span:last-child{
    font-size: .65rem;
    color: hsl(204, 43%, 93%);
    opacity: 80%;
    font-weight: 300;
    margin-left: 1em;
}

.sec-one p{
    color: hsl(204, 43%, 93%);
    opacity: 85%;
    font-size:.725rem ;
    margin-bottom:2em;
}

.btn{
    text-decoration: none;
    color: hsl(204, 43%, 93%);
    background-color: hsl(71, 73%, 54%);
    display: block;
    text-align: center;
    font-size: .725rem;
    font-weight: 600;
    padding: 1em 0;
    border-radius: 5px;
    box-shadow: 5px 0px 5px 0px gray gray;
}

.sec-two{
    background-color: hsl(179, 46%, 53%);
    padding: 2em 1.5em;
}

.sec-two h3{
    color:  hsl(204, 43%, 93%);
    font-size: .8rem;
    margin-bottom: 1.2em;
}

.sec-two p{
    color:  hsl(204, 14%, 85%);
    line-height: 1.8;
    font-size: .725rem;
    width: 70%;
}

@media screen and (min-width: 600px){
    .global-wrapper{
        height: 100vh;
        width: 100%;
    }
    
    .container{
        max-width: 50%;
        margin: 0 auto;
        position: relative;
        top: 150px;
    }

    .primary{
        height: auto;
        min-height: 150px;
    }

    .primary > *{
        width: 85%;
    }

    .secondary{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .sec-one{
        width:50%;
    }

    .sec-two{
        width: 50%;
    }

}